.q_page{width:976px;padding:0;margin:0 auto;}
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}
.clear { clear:both; }
.red {color: red;}
.ccc {color: #ccc;}
.fl-l {float: left;}
.fl-r {float: right;}
.ta-l {text-align: left;}
.ta-r {text-align: right;}