.bigsize-mask {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 3000;
}
.bigsize {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3000;
}
.bigsize-contentbox {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
}
.bigsize-closer {
    position: absolute;
    right: -1.5em;
    text-align: center;
    width: 1em;
    height: 1em;
    cursor: pointer;
    color: #fff;
    font: bold 20px/1 sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.bigsize-bd {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #000;
    padding: 10px;
}
.bigsize-hidden {
    display: none;
}
.bigsize-img {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}