.wrap {
	background-color: #fff;
}
.complaints-hd {
	height: 94px;
}
.logo-box {
	padding: 20px 10px;
}
.logo {
	display: inline;
	float: left;
	background: url(http://simg4.qunarzz.com/common/hf/header_v12.png) 0 0 no-repeat;
	width: 136px;
	height: 54px;
	overflow: hidden;
	outline: 0;
}
.logo span,
.headline span {
	position: relative;
	z-index: -1;
	color: #0086a0;
}
.headline {
	/*position: relative;*/
	display: inline;
	float: left;
	width: 80px;
	height: 20px;
	margin-top: 34px;
	margin-left: 17px;
	background: url(http://source.qunarzz.com/usercenter/complaints/complaints-sprite.png) 0 0 no-repeat;
}