.complaints-top {
	height: 28px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
.top-list {
	float: right;
}
.top-list li {
	position: relative;
	left: 10px;
	float: left;
	display: inline;
	line-height: 28px;
}
.top-list a {
	color: #666;
	margin: 0 10px;
}
.top-list .red {
	color: #FE0053;
}