.complaints-bd {
	overflow: hidden;
	*zoom: 1;
	clear: both;
	border-top: 3px solid #5abec6;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #fff url("http://source.qunarzz.com/usercenter/complaints/side-bg.png") 720px 0 repeat-y;
}
.complaints-main {
	width: 720px;
	overflow: hidden;
	background-color: #fcfbfb;
	-webkit-box-shadow: 2px 0 1px #e5e5e5;
	-moz-box-shadow: 2px 0 1px #e5e5e5;
	box-shadow: 2px 0 1px #e5e5e5;
}

/*side*/
.complaints-side {width: 254px;}
.complaints-side .content-inner {border-bottom: 1px solid #e5e5e5;padding: 10px;}
.line-img {margin: 20px 0;}


.info-title {overflow-x: hidden;zoom: 1;margin: 1.5em 0;}
.info-title h4 {color: #000;font-weight: bold;float: left;width: 180px;}
.info-title .fan{float: right;border:1px solid #f69900;border-radius:2px 2px 2px 2px;display:inline-block;font-size:12px;font-weight:normal;line-height:15px;margin-top:2px;vertical-align:middle;position:relative;z-index:0}
.info-title .fan .re{background:none repeat scroll 0 0 #f69900;border-right:1px solid #f58c00;color:#fef7eb;float:left;width:auto;_height:16px}
.info-title .fan .pr{background:none repeat scroll 0 0 #fff;color:#ff671b;font-size:12px;line-height:16px;font-weight:bold;padding:0 3px;cursor:pointer;float:left;height:15px}
.info-title .fan.fan-disabled{border-color:#818181}
.info-title .fan-disabled .re{background-color:#818181;border-color:#818181}
.info-title .fan-disabled .pr{color:#818181}

.info-zhuli {margin: 1.5em 0;}
.info-zhuli span {margin-right: 20px;}
.info-zhuli .ico{width:14px;height:14px;display:inline-block;*display:inline;zoom:1;vertical-align:middle;background:#fdab00;color:#fff;font-size:12px;line-height:14px;text-align:center}
.info-zhuli i {font-style: normal;font-family: Tahoma;color: #666;vertical-align: middle;margin: 0 3px;}
.info-zhuli .ico-blue{background:#6899ff}

.price,
.order-num,
.order-time {color: #666;}
.detail {float: right;padding: 20px 10px 0 0;}

/*main*/
.complaints-main .content-inner{
	padding: 30px 15px;
}
.ts-title {
	overflow: hidden;
	zoom: 1;
	font-size: 14px;
	font-weight: bold;
}
.ts-title i.red {
	position: relative;
	color: #f60;
	top: 3px;
	padding: 0 3px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
	outline: none;
}
.result-title {
	overflow: hidden;
	zoom: 1;
	/*margin-bottom: 15px;*/
}
.icon-darrow {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 9px;
	height: 12px;
	background: url("http://simg4.qunarzz.com/common/hf/header_v12.png") -64px -54px no-repeat;
	overflow: hidden;
	margin-left: 6px;
}
.icon-uarrow {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 9px;
	height: 12px;
	background: url("http://simg4.qunarzz.com/common/hf/header_v12.png") -50px -54px no-repeat;
	overflow: hidden;
	margin-left: 6px;
}
#complaints-again {
	font-size: 12px;
	font-weight: normal;
}
#complaints-form {
	overflow: hidden;
}
.form-box {
	margin-bottom: 20px;
}
.form-box .row {
	clear: both;
	margin: 20px 0;
	clear: both;
	zoom: 1;
}
.form-box .input-g {
	position: relative;
}
.form-box .input-text {
	padding: 6px 10px;
	border: 1px solid #ccc;
}
.form-box .input-l {
	position: absolute;
	color: #999;
	font-size: 12px;
	font-weight: normal;
	width: 5em;
	text-align: right;
}
.form-box .sigle-row .input-l {
	margin-top: 8px;
}
.input-c {
	position: relative;
	margin-left: 70px;
}
.label-box {
	position: relative;
	display: inline;
	float: left;
	white-space: nowrap;
	border: 1px dashed #d2d2d2;
	color: #999;
	padding: 4px 10px;
	margin: 0 10px 10px 0;
	background-color: #f0f0f0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.label-selected,
.label-hover,
.label-box:hover {
	border-color: #80b5ff;
	background-color: #cae5ff;
	color: #0069ca;
}
.label-selected i {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	background: url('http://source.qunarzz.com/usercenter/ordercenter/tips.png') -3px -2px no-repeat;
	right: -6px;
	top: -10px;
}
.label-box input {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.placeholder {
	position: absolute;
	color: #ccc;
	padding: 12px;
	cursor: text;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#description, .ceditor {
	width: 588px;
	height: 120px;
	padding: 10px;
	border: 1px solid #ccc;
	resize: none;
	overflow: auto;
	line-height: 1.5;
	color:#333;
	text-align: left;
	font-size: 12px;
	background-color: #fff;
}
.ceditor .editor-label {
	padding: 0 2px;
	margin: 0 2px 0 0;
	border: 1px dashed #80b5ff;
	background-color: #cae5ff;
	color: #0069ca;
	text-align: left;
}
.b-bar {
	padding-top: 10px;
}
.label-desc {
	width: 500px;
	color:#666;
}
.wordcounter {
	font-size: 12px;
	text-align: right;
	padding-right: 16px;
	color: #666;
}
.wordcounter .red {
	font: bold 14px Arial, sans-serif;
	color: #f55;
	padding-right: 3px;
}
.btn-orange {
	width: 128px;
	height: 30px;
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	background: url(http://source.qunarzz.com/usercenter/complaints/complaints-sprite.png) 0 -41px no-repeat;
}
.btn-gray {
	width: 128px;
	height: 30px;
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: default;
	background: url(http://source.qunarzz.com/usercenter/complaints/btn-gray.png) 0 0 no-repeat;
}
#proofContainer {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 128px;
	height: 30px;
}
.moxie-shim-html4 input {
	cursor: pointer;
}
#proof {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: center;
	line-height: 30px;
	color: #fff;
	outline: none;
	background: url(http://source.qunarzz.com/usercenter/complaints/btn-blue.png) 0 0 no-repeat;
}
.file-row {
	border: 1px dotted #ddd;
	border-width: 1px 0;
	padding: 10px 0;
	margin: 20px 0 30px 0;
}
.file-row .ts-title {
	line-height: 30px;
}
.file-row .thub-list {
	padding: 20px 20px 20px 70px;
	overflow: hidden;
	zoom: 1;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.file-row .proof-thub {
	margin: 0 8px;
	position: relative;
	float: left;
	width: 60px;
	/*height: 45px;*/
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	/*background-color: #ccc;*/
}
.file-row .img-box {
	height: 45px;
	line-height: 45px;
	background-color: #ddd;
}
.file-row .proof-thub img {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width:auto !important;
	height:auto !important;
	width: 60px;
	height: 45px;
	max-width: 60px;
	max-height: 45px;
	overflow: visible;
	vertical-align: middle;
}
.proof-name {
	-ms-word-break: keep-all;
	word-break: keep-all;
	white-space: nowrap;
	width: 60px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: .5em;
	/*height: 1em;*/
	line-height: 1.5;
}
.input-file {
	position: relative;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
/*.input-file .input-f {
	display: block;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 1;
	position: absolute;
	font-size: 100px;
	width: 128px;
	height: 30px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}*/
.file-row .tips {
	position: relative;
	*top: -6px;
	margin-left: 6px;
	color: #999;
}
/*histroy*/
.history {
	clear: both;
	position: relative;
	margin-top: 10px;
	border: 1px solid #eae8e8;
	-webkit-box-shadow: inset 0 1px #e5e5e5;
	-moz-box-shadow: inset 0 1px #e5e5e5;
	box-shadow: inset 0 1px #e5e5e5;
}
.history-top {
    position: absolute;
    top: -20px;
    z-index: 1;
    height: 10px;
    width: 100%;
}
.history-top i,
.history-top b {
    position: absolute;
    border-width: 10px;
    left: 30px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #e5e5e5;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.history-top b {
    border-color: transparent transparent #fff;
    margin-top: 2px;
}
.history-inner {
	background-color: #fff;
	padding: 10px;
	min-height: 150px;
	overflow: hidden;
	zoom: 1;
}
.history-inner .ccc {
	_display: block;
	_height: 150px;
}
.ts-title .tsjl {
	margin-left: 12px;
}

/*complaints-list*/
.history .img-box {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 40px;
}
.complaints-list {
	padding: 0 10px;
}
.complaints-li {
	position: relative;
	padding: 15px 0;
}
.complaints-img {
	padding: 10px;
}
.qunar-li {
	border-bottom: 1px dotted #ddd;
}
.user-li .img-box {
	left: 0;
}
.qunar-li .img-box {
	right: 0;
}
.complaints-li .text-box {
	/*width: 600px;*/
}
.user-li .text-box {
	margin-left: 60px;
}
.qunar-li .text-box {
	margin-right: 60px;
}
.complaints-li .dialog-inner {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	line-height: 1.5;
	-ms-word-break: break-all;
	word-break: break-all;
}
.dialog-inner p {
	margin-bottom: 12px;
}
.complaints-li .time {
	font-size: 12px;
	font-family: Tahoma, sans-serif;
	color: #999;
	margin-bottom: 10px;
}
.qunar-li .time {
	text-align: right;
}
.qunar-li .dialog-inner {
	float: right;
}
.user-li .dialog-inner {
	background-color: #EBF5FF;
}
.qunar-li .dialog-inner {
	background-color: #ADD6FF;
}
.complaints-li .dialog-box {
	position: relative;
}
.complaints-li .arrow {
	width: 12px;
	height: 12px;
	position: absolute;
	overflow: hidden;
}
.user-li .arrow {
	left: -10px;
	top: 10px;
	background: url(http://source.qunarzz.com/usercenter/complaints/complaints-sprite.png) -118px 0 no-repeat;
}
.qunar-li .arrow {
	right: -10px;
	top: 10px;
	background: url(http://source.qunarzz.com/usercenter/complaints/complaints-sprite.png) -116px -18px no-repeat;
}
.user-li .arrow i {
	margin-left: 6px;
}
.dialog-inner img {
	width:auto !important;
	width:200px;
	max-width:200px;

	height:auto !important;
	height:150px;
	max-height:150px;
	overflow:hidden;
	max-height: 150px;
}
.validator-msg {
    position: absolute;
    padding: 4px 6px;
    color:#999;
    white-space: nowrap;
    font-size: 12px;
    /*background-color: #fff;*/
    font-size: 12px;
}
.validator-icon {
    position: absolute;
    display: inline;
    width: 16px;
    height: 16px;
    left: 6px;
    background: url("http://source.qunar.com/usercenter/ordercenter/tips.png") 0 0 no-repeat;
}
.proof-thub .icon-false,
.validator-msg .icon-false {
    background-position: -2px -23px;
}
.proof-thub .icon-false {
	left: -8px;
	top: -8px;
	cursor: pointer;
}
.validator-msg .icon-true {
    background-position: -3px -2px;
}
.validator-inner {
    position: relative;
    margin-left: 20px;
}
.description-c .validator-msg {
	margin: 110px 0 0 -30px;
	/*display: none;*/
}