.tipsy { font: 12px/22px 宋体; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #fff; color: #666; max-width: 200px; padding: 10px 15px 10px 15px; text-align: left; border: 1px solid #e5e5e5;-webkit-box-shadow: 2px 3px 3px rgba(0,0,0,.1);box-shadow: 2px 0 3px rgba(0,0,0,.1);}
  
  /* Rounded corners */
  /*.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }*/
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #fff; -webkit-box-shadow: 0 0 5px #fff; -moz-box-shadow: 0 0 5px #fff; }*/
  
  .tipsy-arrow, .tipsy-arrow-inner { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #fff; overflow: hidden;}
  .tipsy-arrow-inner {margin-top: 1.5px; border-color: #fff;}

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #e5e5e5; }
  .tipsy-arrow-s { border-top-color: #e5e5e5; }
  .tipsy-arrow-e { border-left-color: #e5e5e5; }
  .tipsy-arrow-w { border-right-color: #e5e5e5; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }


  .tipsy-hd {font-weight: bold;}